.idea
*.iml
out
gen
cluster_config/pswd.txt
*/*.log
cluster_config/*.txt
cluster_config/cluster-machines.txt
.DS_Store
project/
target/
web_app/xml_processor/build
web_app/xml_processor/build.number
venv
*/*.pyc