# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
cluster_config/pswd.txt
*/*.log
cluster_config/*.txt
cluster_config/cluster-machines.txt